
@import url(https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);

body{
	background-color:#f7f8fa;
}

.panel-default {
	margin-left: 70px;
	font-family: "Sue Ellen Francisco";
	min-height: 60px;
	margin-bottom: 5px;
	font-size: 20px;
}

.form-control{
	font-family: "Sue Ellen Francisco";
	font-size: 20px;
	min-height: 40px;
}

.img-circle {
    border-radius: 20%;
	position: absolute;
	width: 60px;
	height: 60px;
}
